<form>  
    <section class="form-block">
        <label>게시판 등록</label>
        <input type="hidden" name="pkBoard">
        <input type="hidden" name="ppkBoard">          

        <div class="form-group" >            
            <label for="board_name" class="required">게시판 명칭</label>
            <label for="board_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="boardNm.invalid && (boardNm.dirty || boardNm.touched)">                
                <input  [(ngModel)]="board.boardNm" [ngModelOptions]="{standalone: true}"
                  type="text" 
                  id="board_name" 
                  placeholder="게시판 명칭을 입력해주세요." 
                  size="20"
                  #boardNm="ngModel" 
                  required 
                  >
                <span class="tooltip-content">
                This field cannot be empty!
                </span>
            </label>          
        </div>
        <div class="form-group">
            <label for="board_desc" class="required">게시판 설명</label>
            <label for="board_desc" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="boardDesc.invalid && (boardDesc.dirty || boardDesc.touched)">
                <input  [(ngModel)]="board.boardDesc" [ngModelOptions]="{standalone: true}"
                  type="text" 
                  id="board_desc" 
                  #boardDesc="ngModel" 
                  placeholder="게시판 설명을 입력해주세요." 
                  size="20" 
                  required
                  >
                <span class="tooltip-content">
                  This field cannot be empty!
                </span>
            </label>            
        </div>
        <div class="form-group">
            <label for="from_date" class="required">시작일자</label>
            <label for="from_date" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="fromDt.invalid && (fromDt.dirty || fromDt.touched)">
                <input  [(ngModel)]="board.fromDt" [ngModelOptions]="{standalone: true}"
                    type="date" 
                    id="from_date" 
                    #fromDt="ngModel" 
                    placeholder="게시판 설명을 입력해주세요." 
                    size="20" 
                    required
                    >
                <span class="tooltip-content">
                This field cannot be empty!
                </span>
            </label>            
        </div>
        <div class="form-group">
            <label for="to_date" class="required">종료일자</label>
            <label for="to_date" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="toDt.invalid && (toDt.dirty || toDt.touched)">
                <input  [(ngModel)]="board.toDt" [ngModelOptions]="{standalone: true}"
                    type="date" 
                    id="to_date" 
                    #toDt="ngModel" 
                    placeholder="게시판 설명을 입력해주세요." 
                    size="20" 
                    required
                    >
                <span class="tooltip-content">
                This field cannot be empty!
                </span>
            </label>            
        </div>
        <div class="form-group">
            <label>사용여부</label>
            <clr-checkbox
                name="termsCheckbox"
                id="checkrads_11"
                [(ngModel)]="useYn">
                I agree to the terms and conditions.
            </clr-checkbox>
            <div>
                Value of termsAgreement: {{termsAgreement}}
            </div>
        </div>
        <div class="form-group">
            <label for="cmt">비고</label>
            <textarea id="cmt" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="registerUser()">등록</button>
        <button class="btn btn-primary" (click)="deleteUser()">삭제</button>
  </section>
</form>